.project_section {
  height: 100vh;
}
.main_container {
  padding-top: var(--header-height);
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.page_headings {
  text-align: center;
}
.dot {
  position: relative;
  font-size: var(--normal-size);
  margin-right: 4px;
  top: 2px;
  color: var(--primary-color);
}
.sub_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  color: #b8abab;
  font-size: var(--small-size);
}
.main_heading {
  color: var(--secondary-color);
  font-size: var(--heading);
}
.main_heading span {
  color: var(--primary-color);
}
